######################################################################
# Apache image/.htaccess for PyukiWiki
# $Id$
# @@PYUKIWIKIVERSION@@
######################################################################

Order allow,deny
Deny from all

<FilesMatch "\.(gif|jpg|jpeg|png|gz)$">
	Order allow,deny
	Allow from all
</FilesMatch>

######################################################################
## Options can use, it is good to add the following setup.
#Options -Indexes

######################################################################
## sample prevention of direct link from other site
#SetEnvIf Referer "^http://pyukiwiki.sourceforge.jp/" ref01
#Order deny,allow
#Deny from all
#Allow from env=ref01

