######################################################################
# Apache skin/.htaccess for PyukiWiki
# $Id$
# @@PYUKIWIKIVERSION@@
######################################################################

Order allow,deny
Deny from all

<FilesMatch "\.(cgi|php|css|js|gz|swf|gif|jpg|jpeg|png)$">
	Order allow,deny
	Allow from all
</FilesMatch>

######################################################################
## Options can use, it is good to add the following setup.
#Options -Indexes

######################################################################
## sample prevention of direct link from other site
#SetEnvIf Referer "^http://pyukiwiki.sourceforge.jp/" ref01
#Order deny,allow
#Deny from all
#Allow from env=ref01

######################################################################
# If using compressed skin, delete comment

#RewriteEngine on
#RewriteCond %{HTTP:Accept-Encoding} gzip
#RewriteCond %{REQUEST_FILENAME}\.gz -s
#RewriteRule .+ %{REQUEST_URI}.gz
#
#<FilesMatch "\.css\.gz$">
#	ForceType   text/css
#	AddEncoding x-gzip .gz
#</FilesMatch>
#
#<FilesMatch "\.js\.gz$">
#	ForceType   application/x-javascript
#	AddEncoding x-gzip .gz
#</FilesMatch>

