######################################################################
# Apache counter/.htaccess for PyukiWiki
# $Id$
# @@PYUKIWIKIVERSION@@
######################################################################

Order deny,allow
Deny from all

